body{
    background-color: rgb(248, 204, 211);
}
.header {
    font-weight: 900;
}
.container{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn{
    background-color: rgb(233, 110, 130);
    color: aliceblue;
    height: 35px;
    font-family: 'Courier New', Courier, monospace;
}
.input{
    height: 3vh;
    width: 50vw;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}
.recipe{
    background-color: aliceblue;
    width: 80%;
    max-width: 400px;
    padding: 20px 80px;
    margin-top: 10px ;
    border-radius: 20px;
    margin: 2vh auto;
    display: block;
    
}
.recipe img {
    border-radius: 20px;
}
.recipe li {
    font-size:large;
    margin-bottom: 10px;
}
.recipe ul {
    text-align: center;
}
.recipe h2{
  padding-bottom: 30px;
}
.recipe h3{
    padding-bottom: 30px;
  }